
body, nav {
  background-color: #F2F2F2;
}

body {
  border: 0;
  margin: 0;
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  position: sticky;
  z-index: 5;
}

nav h1 {
  margin-left: 50px;
}

nav a {
  color: #000;
  margin-right: 50px;
}

p {
 margin-top: 20vh;

}

#content {
 text-align: left;
 margin: auto 50px;
 color: rgba(0,0,0,.4);
}

.wholePage {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.searchPage, .signUpPage, .logInPage, .postPage, .allPostsPage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUpPage, .logInPage, .postPage {
  height: 100vh;
}

 #signUpBtn, #loginBtn {
  text-transform: uppercase;
  align-self: center;
  margin-top: 10px;
}

.logInPage span, .signUpPage span {
  position: absolute;
  bottom: 0;
}


.signUpPage input[type=text], .signUpPage input[type=password], .signUpPage  button,
.logInPage input[type=text], .logInPage input[type=password], .logInPage  button,
.postPage button {
  margin: 10px 0px;
}

.signUpPage button, .logInPage button, .postPage button {
  width: 100%;
  font-size: 1em;
}

.postPage p {
  margin-top: 10px;
}

/* .logInPage button:last-of-type {
  background-color: transparent;
  color: #0D0640;
} */

a:focus, a:hover {
  color: #4028a2;
}

.eventContainer {
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.eventCard, .postCard {
  border-radius: 10px;
  background-color: rgba(255,255,255,1);
  overflow: scroll;
  position: relative;
}

.eventCard:hover, .postCard:hover, .eventCardL:focus, .postCard:focus {
  box-shadow: rgb(0 0 0 / 15%) 0px 3px 3px 0px;
}

.postCard {
  margin: 5px;
  width: 95vw;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  box-sizing: border-box;
}

.postCard .postCardLeft, .postCard .postCardCenter, .postCard .postCardRight {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100px;
}

.postCardActions {
  margin-top: 12px;
}

.postCard .postCardCenter {
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px 0px;
}

.postCard .postCardLeft {
  justify-content: center;
  align-items: center;
  width: 150px;
  margin: 0px 10px;
}

.postCard .postCardRight {
  width: 150px;
  padding: 10px;
  color: rgba(0,0,0,.4);
}

.postCardContent .postCardUserName a {
  text-transform: lowercase;
  color: #4028a2;
  padding-right: 10px;
}

.postCardUserName a:hover, .postCardUserName a:focus {
  color: #4028a2;
}

.postCard button.delete {
  padding: 0;
  margin: 0;
  font-size: 1em;
  height: 1em;
  background: transparent;
  color: rgba(0,0,0,.4);
  text-transform: capitalize;
  width: min-content;
}

.postCard .profileIcon {
  background-color: #0D0640;
  border-radius: 100px;
  background-image: url(./assets/icon-03.png);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80px;
  width: 80px;
  margin: 10px;
}

.eventCard {
  width: 350px;
  height: 400px;
  margin: 20px;
  text-align: center;
}

.eventCard .imgWrapper {
  height: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.eventCard .textWrapper {
  padding: 12px;
}

.linkWrapper {
  width: 100%;
}

.eventCard a {
  color: #fff;
  background-color: #0D0640;
  border-radius: 5px;
  padding: 15px 100px;
}

.eventCard h1 {
  font-size: 1.5em;
}

.eventDescription, .eventInfo {
  text-align: left;
  width: 80%;
}

.eventCard .eventCardTop {
  width: 100%;
  height: 85%;
  overflow: scroll;
}

.eventCard .eventStatus {
  color: #000;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: rgba(255,255,255,.5);
  backdrop-filter: blur(5px);
}

span.spacerSpan {
  padding-bottom: 25px;
  visibility: hidden;
}  

.imgWrapper img {
  min-width: 100%;
}


.heroImage {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #000;
  background-image: url(./assets/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  width: 95vw;
  border-radius: 10px;
  margin: 50px;
}

.heroImage .textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-start;
  color: #fff;
  text-align: left;
  /* height: 100%; */
  max-width: 95vw;
  padding-right: 5vw;
  overflow: scroll;
}

.heroImage h1 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 100;
  font-family: 'Work Sans', sans-serif;
}

.heroImage p {
  font-size: 1em;
  margin: 10px;
  margin-left: 0px;
}

.heroImage p, .heroImage span {
  background: rgba(0,0,0,1);
  background-color: #0D0640;
  padding: 5px 15px;
  margin: 20px;
  line-height: 2;
}

/* Set a style for all buttons */
button {
  background-color: #0D0640;
  border-radius: 10px;
  color: #fff;
  padding: 14px 20px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  width: 20%;
  font-size: 2em;
  text-transform: uppercase;
}

/* Add a hover effect for buttons */
button:hover, .eventCard a:hover, button:focus, .eventCard a:focus, a#addBtn:hover, a#addBtn:focus {
  background-color: #4028a2;
}

.searchWrapper {
  width: 80vw;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  max-height: 70px;
  margin-bottom: 5vw;
  justify-content: center;
  align-items: center;
}

/* Full-width inputs */
input[type=text], input[type=password], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border: 4px solid #0D0640;
  border-radius: 10px;
}

input[type=text]:hover, input[type=password]:hover, 
input[type=text]:focus, input[type=password]:focus, 
textarea:hover, textarea:focus {
  border: 4px solid #4028a2;
}

form {
  min-width: 350px;
  max-width: 600px;
  width: 50vw;
  text-align: left;
  display: flex;
  flex-direction: column;
  position: relative;
}

.searchWrapper input[type=text] {
  height: 100%;
}

.searchWrapper button {
  background-color: #0D0640;
  color: #fff;
  border-radius: 10px;
  font-size: 1em;
  width: 5vw;
  min-width: 60px;
  height: 100%;
}

.searchWrapper button:hover, .searchWrapper button:focus {
  background-color: #4028a2;
}

button img {
  width: 80%;
}

.aboutPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.aboutPage article, .aboutPage .halfPageImg {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.aboutPage .halfPageImg {
  background-image: url(./assets/gig-at-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutPage article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  /* background-color: #F29F05; */
  background-color: #F2EBDF;
  /* background: #F2EAD0;  */
}

.aboutPage h2 {
  font-size: 3em;
  margin: 10vh 50px;
}

.aboutPage p {
  width: 80%;
  margin-bottom: 7em;
  margin-top: 0px;
}

.allPostsPage h1 {
  position: sticky;
  top: 10px;
  z-index: 5;
}


a#addBtn {
  background-color: #0D0640;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background-image: url(./assets/add-icon.png);
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center;
  position: fixed;
  top: 100px;
  right: 75px;
  cursor: pointer;
  z-index: 5;
}